
       

        #red {
                text-align: center;
                font-family: sans-serif;
                font-size: 14;
                color: white;
                background-color: rgba(178, 34, 34, 0.78);
        }
        #green {
                text-align: center;
                font-family: sans-serif;
                color: white;
                font-weight: lighter;
                font-size: 14;
                background-color: rgba(34, 139, 34, 0.73);

        }
        #blue {
                text-align: center;
                font-family: sans-serif;
                font-weight: lighter;
                font-size: 14; 
                color: white;
                background-color: rgba(30, 144, 255, 0.87);
        }
        #white {
                text-align: center;
                font-family: sans-serif;
                font-weight: lighter;
                font-size: 14;
                color: black;
                background-color: lightgrey;
        }
        #button {
                text-align: center;
                font-family: sans-serif;
                font-style: normal;
        }
         
        #default {
                text-align: center;
                font-family: sans-serif;
                font-style: normal;
        }
        #left {
                text-align: left;
                font-family: sans-serif;
                font-style: normal;
                font-weight: lighter;
        }

        #grey {
                text-align: center;
                font-family: sans-serif;
                font-style: normal;
                background-color: lightslategrey;
        }

        #modeChooser {
                text-align: left;
                font-family: sans-serif;
                font-weight: lighter;
                font-size: 14;
                color: black;
                border-color: #2f2d2d;
                border-width: 5px;
                line-height: 150%;
        }
       
        #inputField {
                text-align: center;
                font-family: sans-serif;
                font-weight: lighter;
                font-size: 14;
                color: black;
                border-color: #2f2d2d;
                border-width: 5px;
                /*background-color: rgba(0, 0, 0, 0.15);*/
                input[type=range]{
                -webkit-appearance: none;
                width: 95%;
                height: 10px;
                background: transparent;
                border: none;
                border-radius: 3px;
            }
        }

        /* style the range sliders */
        input[type=range]{
            -webkit-appearance: none;
            width: 100%;
            height: 10px;
            background: transparent;
            border: none;
            border-radius: 3px;
        }

        input[type=range]::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            width: 400px;
            height: 5px;
            background: transparent;
            border: none;
            border-radius: 3px;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: goldenrod;
            margin-top: -7px;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #ccc;
        }    

